<form ng-focus="sendMessage()">
	<h1>Current user: {{currentUser.displayName}}</h1>
	<a href='#/' ng-click="signOut()" class="btn text-center">Logout</a>
	<input type="text" ng-model="messagePost" placeholder="Your Message Here" class="form-control text-center" id="message-box">
	<input type="submit" value="Send" ng-click="sendMessage()" class="btn btn-default">
	<table class="table table-striped">
		<tr ng-repeat="message in messages | orderObjectBy:'dateMS':true" ng-if ="$index < messagesLimit.default">
			<td><span>{{message.username}}: </td>
			<td><span><b>{{message.message}}</b></span></td>
			<td><span>{{message.dateAgo}}</span></td>
			<td><button ng-click="remove(message)" class="btn btn-default">x</button></td>
		</tr>				
	</table>
	<a href='' ng-click="messagesLimit.getMore()" class="btn text-center" ng-hide="messagesLimit.default >= messagesLimit.total">Show More</a>
	<a href='' ng-click="messagesLimit.getLess()" class="btn text-center" ng-hide="messagesLimit.default <= 5">Show Less</a>
</form>