<div class="wrapper">
	<h1>Login</h1>		
	<input type="email" ng-model="email" class="form-control text-center" placeholder="Email" >
	<input type="password" ng-model="password" class="form-control text-center" placeholder="Password" >
	<a href='' ng-click="signIn()" class="btn text-center">Login</a>
	<h1>Registration</h1>
	<input type="text" ng-model="usernameNew" class="form-control text-center" placeholder="User Name">
	<input type="email" ng-model="emailNew" class="form-control text-center" placeholder="Email">
	<input type="password" ng-model="passwordNew" class="form-control text-center" placeholder="Password">
	<a href='' ng-click="createUser()" class="btn text-center">Register</a>
	<div ng-click='test()'>or</div>
	<a href='' ng-click="signInAnon()" class="btn text-center">Login<br>Anonymously</a>
</div>