<!DOCTYPE html>
<html>
<head>
	<title>Messege App</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
	
	<script src="service.js"></script>
	<script src="getCurrentDate.js"></script>
	<script src="main.js"></script>

</head>
<body ng-app="messageApp">
	<div ng-controller="mainController">
		<div ng-hide="currentUser">
			<h1>Login</h1>		
			<label>Email</label>
			<input type="email" ng-model="email">
			<label>Password</label>
			<input type="password" ng-model="password">
			<a href='' ng-click="login()">Login</a>
			<span ng-click="get()">GET DATA</span>
			<h1>Register</h1>
			<label>User Name</label>
			<input type="text" ng-model="usernameNew">
			<label>Email</label>
			<input type="email" ng-model="emailNew">
			<label>Password</label>
			<input type="password" ng-model="passwordNew">
			<a href='' ng-click="createUser()">Register</a>
		</div>
		<div ng-show="currentUser">
			<h1>Current user: {{currentUser.userInfo.username}}</h1>
			<input type="text" ng-model="messagePost" placeholder="Your Message Here">
			<button ng-click="sendMessage()">Send</button>
			<button ng-click="logout()">Logout</button>
			<table>
      				<tr ng-repeat="message in messages">
					<td><span>{{message.author}}:</td>
					<td><span><b>{{message.content}}</b></span></td>
					<td><span>{{message.date}}</span></td>
					<td><button ng-click="messages.$remove(message)">x</button></td>
				</tr>
    			</table>
		</div>
	</div>
</body>
</html>